body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D9D9D9;
}

h1, h2 {
    font-family: 'Architects Daughter', cursive;
}

.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #87A5A5;
}

.menu li {
    float: left;
}

.menu a {
    display: block;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 8px;
    text-decoration: none;
    padding: 14px 16px;    
}

.menu a:hover {
    background-color: #D98F4E;
}

h1 {
    text-align: center;
    border: #D98F4E double;
    color: #8C3E37;
    background-color: #87A5A5;
}

h2 {
    color: #9c5750;
    text-transform: capitalize ;
}


.img-citacao {
    display: flex;
    flex-direction: row nowrap;
    justify-content: center;
}

.citacao-1{
    background-color: #bacece;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 3px;
    border: dotted 2px;
}

.citacao-2{
    background-color: #bacece;
    font-size: 1.2rem;
    border-radius: 5px;
    border: dotted 2px;
    padding: 3px;
    height: 7rem;
}

img {
    width: auto;
    height: 400px;
}


div:after {
    content: "";
    display: table;
    clear: both;
}

.links a:link {
    color: cornflowerblue;
    text-decoration: none; 
}

.links a:visited {
    color: #D98F4E;;
}

.links a:active {
    color: greenyellow;
}

.links a:hover {
    color: black;
    background-color: rgb(224, 165, 123);
}

section {
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-around;
    gap: 30px;
}

fieldset {
    display: inline;
    padding-right: 12rem;
    background-color: rgb(255, 248, 236);
    
}

legend {
    font-weight: bold;
    font-size: 1.3rem;
    
}
textarea, input:not([name="sexo"]) {
    display: block;
	margin-bottom: 2rem;
	width: 20rem;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	border-radius: 10px;
	padding: 0 1rem;
}

textarea {
    padding-bottom: 10rem;
}


aside {
    flex-basis: 50%;
    width: 70%;
}

button {
    display: block;
}


form {
    background-color: #bacece;
}