@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #A164DF;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  margin: 0;
  height: 100vh;
}

.btn {
  background-color: #663399;
  margin: 1rem;
  color: #fff;
  padding: 2.5rem 3rem;
  font-size: 20px;
  font-family: inherit;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn:hover{
  opacity: 0.9;
}