@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #7d5fff, #7158e2 );
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  height: 100vh;
}

.search {
  position: relative;
  height: 50px;
}

.search .input {
  background-color: #fff;
  border: 0;
  padding: 15px;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  transition: width 0.3s ease;  
}

.search .btn {
  background-color: #fff;
  position: absolute;
  border: 0;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  font-size: 24px;
  transition: transform 0.3s ease;
}

.active .input {
  width: 200px;
  border: 0;
}

.active .btn {
  transform: translateX(198px);
  border: 0;
}

